body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: rgb(44, 35, 35);
    overflow: auto; /* Разрешаем прокрутку */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    padding-bottom: 50px; /* Добавляем нижний отступ для удобной прокрутки */
}

.translucent-box {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    backdrop-filter: blur(5px); /* Добавляем размытие фона */
    color: #00ff00; /* Зеленый текст */
    flex: 1; /* Делаем блоки адаптивными */
}

.box-title {
    color: #800080; /* Фиолетовый цвет заголовков */
}

.logo-part1 {
    color: #800080; /* Фиолетовый цвет для ITMSFT Group */
}

.logo-part2 {
    color: #00ff00; /* Зеленый цвет для Support */
}

.small-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
}

.large-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Добавлено для вертикального выравнивания */
    height: 200px;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Добавляем промежуток между кнопками */
}

pre {
    background: none;
    border: none;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    overflow: hidden;
}

code {
    display: block;
    white-space: pre-wrap;
}

@media (max-width: 768px) {
    .large-box {
        flex-direction: column;
    }

    .button-group {
        flex-direction: column; /* Кнопки в столбик на маленьких экранах */
    }

    .small-box {
        height: auto;
    }
}
